body {
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #ff7f50; /* Orange highlight */
  color: #fff;
  padding: 1em;
  text-align: center;
}
.center-content {
  text-align: center;
  padding: 2em;
}
.landing {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 89vh;
}
.yellowbubble {
  padding: 40px;
  border-radius: 30px;
  background-color: #ffb700;
}
.restaurant-option {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.8); /* Translucent white */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #333;
  transition: transform 0.3s;
}
.restaurant-option:hover {
  transform: scale(1.05);
}

.navbar {
  background-color: #f8f9fa;
  padding: 10px 0;
}

.navbar-brand {
  color: #ffffff;
  font-size: 1.5rem;
}

.navbar-brand:hover {
  color: #ffffff;
}

.navbar-nav {
  margin-top: 8px;
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  color: #ffffff;
  font-weight: bold;
}

.nav-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

h2,
p {
  margin: 0;
  padding: 0;
}
